In [1]:
meses=["enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre,diciembre"]
print(meses)

['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre,diciembre']

In [10]:
meses = ["enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre","diciembre"]
for (i, valor) in enumerate(meses):
    print("%d:%s" %(i, valor))
for elem in enumerate(meses):
    print(elem)

0:enero
1:febrero
2:marzo
3:abril
4:mayo
5:junio
6:julio
7:agosto
8:septiembre
9:octubre
10:noviembre
11:diciembre
(0, 'enero')
(1, 'febrero')
(2, 'marzo')
(3, 'abril')
(4, 'mayo')
(5, 'junio')
(6, 'julio')
(7, 'agosto')
(8, 'septiembre')
(9, 'octubre')
(10, 'noviembre')
(11, 'diciembre')

In [11]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [14]:
for i in range(1,11):
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10

In [15]:
for i in range(1290):
    if i%2==0:
        print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200 202 204 206 208 210 212 214 216 218 220 222 224 226 228 230 232 234 236 238 240 242 244 246 248 250 252 254 256 258 260 262 264 266 268 270 272 274 276 278 280 282 284 286 288 290 292 294 296 298 300 302 304 306 308 310 312 314 316 318 320 322 324 326 328 330 332 334 336 338 340 342 344 346 348 350 352 354 356 358 360 362 364 366 368 370 372 374 376 378 380 382 384 386 388 390 392 394 396 398 400 402 404 406 408 410 412 414 416 418 420 422 424 426 428 430 432 434 436 438 440 442 444 446 448 450 452 454 456 458 460 462 464 466 468 470 472 474 476 478 480 482 484 486 488 490 492 494 496 498 500 502 504 506 508 510 512 514 516 518 520 522 524 526 528 530 532 534 536 538 540 542 544 546 548 550 552 554 556 558 560 562 564 566 568 570 572 574 576 578 580 582 584 586 588 590 592 594 596 598 600 602 604 606 608 610 612 614 616 618 620 622 624 626 628 630 632 634 636 638 640 642 644 646 648 650 652 654 656 658 660 662 664 666 668 670 672 674 676 678 680 682 684 686 688 690 692 694 696 698 700 702 704 706 708 710 712 714 716 718 720 722 724 726 728 730 732 734 736 738 740 742 744 746 748 750 752 754 756 758 760 762 764 766 768 770 772 774 776 778 780 782 784 786 788 790 792 794 796 798 800 802 804 806 808 810 812 814 816 818 820 822 824 826 828 830 832 834 836 838 840 842 844 846 848 850 852 854 856 858 860 862 864 866 868 870 872 874 876 878 880 882 884 886 888 890 892 894 896 898 900 902 904 906 908 910 912 914 916 918 920 922 924 926 928 930 932 934 936 938 940 942 944 946 948 950 952 954 956 958 960 962 964 966 968 970 972 974 976 978 980 982 984 986 988 990 992 994 996 998 1000 1002 1004 1006 1008 1010 1012 1014 1016 1018 1020 1022 1024 1026 1028 1030 1032 1034 1036 1038 1040 1042 1044 1046 1048 1050 1052 1054 1056 1058 1060 1062 1064 1066 1068 1070 1072 1074 1076 1078 1080 1082 1084 1086 1088 1090 1092 1094 1096 1098 1100 1102 1104 1106 1108 1110 1112 1114 1116 1118 1120 1122 1124 1126 1128 1130 1132 1134 1136 1138 1140 1142 1144 1146 1148 1150 1152 1154 1156 1158 1160 1162 1164 1166 1168 1170 1172 1174 1176 1178 1180 1182 1184 1186 1188 1190 1192 1194 1196 1198 1200 1202 1204 1206 1208 1210 1212 1214 1216 1218 1220 1222 1224 1226 1228 1230 1232 1234 1236 1238 1240 1242 1244 1246 1248 1250 1252 1254 1256 1258 1260 1262 1264 1266 1268 1270 1272 1274 1276 1278 1280 1282 1284 1286 1288

In [23]:
lista_numeros =[]
for i in range(34):
    lista_numeros.append(i)
print(lista_numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]

In [30]:
lista_a=["3","9","6","15","19"]
lista_b=["2","4","8","10","30","40","50","60","70","80","90"]
print(lista_a)
print(lista_b)

['3', '9', '6', '15', '19']
['2', '4', '8', '10', '30', '40', '50', '60', '70', '80', '90']

In [28]:
cp=["28042","00001","43082"]
ciudades=["Madrid", "Barcelona","Orense", "Santander"]
for c1, c2 in zip (cp, ciudades):
    print(c1,c2.upper())

28042 MADRID
00001 BARCELONA
43082 ORENSE

In [31]:
for a, b in zip(lista_a, lista_b):
    if a>b:
        print(a)
    else:
        print(b)

3
9
8
15
30

In [29]:
print(cp)
cp.sort()
print(cp)

['28042', '00001', '43082']
['00001', '28042', '43082']

In [32]:
lista_a=["3","9","6","15","19"]
lista_b=["2","4","8","10","30","40","50","60","70","80","90"]
print(lista_a)
print(lista_b)

['3', '9', '6', '15', '19']
['2', '4', '8', '10', '30', '40', '50', '60', '70', '80', '90']

In [33]:
for a, b in zip(lista_a, lista_b):
    if a>b:
        print(a)
    else:
        print(b)

3
9
8
15
30

In [34]:
lista_a.sort()
print(lista_a)

['15', '19', '3', '6', '9']

In [42]:
lista_strings = ["enero", "enero", "febrero", "cartel","martillo", "enero"]
cadena= input ("string a buscar")
contador = 0
for palabra in lista_strings:
    if cadena== palabra:
        pass
        contador+=1
print(contador)
print("%s aparece un %i %% de veces"%(cadena, contador/len(lista_strings)*100))

string a buscarenero
3
enero aparece un 50 % de veces

In [40]:
print( "%i %i %% %i" % (1,2,3) )

1 2 % 3

In [49]:
tupla1=("uno","dos","tres")
tupla2=("cuatro","cinco","seis","siete")
print(tupla1[2])
print(len(tupla1))
print(tupla1*3)
tupla1+tupla2
#del tupla1[1]#no se pueden borrar elementos de la tupla
tupla1=tupla2
print((tupla1))
#tupla2.append("ocho")#no se puede hacer.

tres
3
('uno', 'dos', 'tres', 'uno', 'dos', 'tres', 'uno', 'dos', 'tres')
('cuatro', 'cinco', 'seis', 'siete')

In [50]:
lista_ciudades=[("28040","Madrid"),("00080","Barcelona"),("28002","Madrid")]
print(lista_ciudades)

[('28040', 'Madrid'), ('00080', 'Barcelona'), ('28002', 'Madrid')]

In [51]:
for ciudad in lista_ciudades:
    if ciudad[1]=="Madrid":
        print(ciudad[0])

28040
28002

In [54]:
lista_ciudades=[("28040","Madrid"),("00080","Barcelona"),("28002","Madrid")]
print(lista_ciudades)
resultado=[]
for ciudad in lista_ciudades:
    if ciudad[1]=="Madrid":
        resultado.append(ciudad[0])
resultado.sort()
for r in resultado:
    print(r,end=" ")

[('28040', 'Madrid'), ('00080', 'Barcelona'), ('28002', 'Madrid')]
28002 28040

In [60]:
diccionario={}
for i in range(1,11):
    diccionario[i]="a"*i
    diccionario[i+10]="b"*i
print(diccionario)

{1: 'a', 11: 'b', 2: 'aa', 12: 'bb', 3: 'aaa', 13: 'bbb', 4: 'aaaa', 14: 'bbbb', 5: 'aaaaa', 15: 'bbbbb', 6: 'aaaaaa', 16: 'bbbbbb', 7: 'aaaaaaa', 17: 'bbbbbbb', 8: 'aaaaaaaa', 18: 'bbbbbbbb', 9: 'aaaaaaaaa', 19: 'bbbbbbbbb', 10: 'aaaaaaaaaa', 20: 'bbbbbbbbbb'}

In [64]:
for clave in diccionario:
    print(clave)

1
11
2
12
3
13
4
14
5
15
6
16
7
17
8
18
9
19
10
20

In [69]:
for num in diccionario:
    print(num,":",end= " ")
    print(diccionario[num])

1 : a
11 : b
2 : aa
12 : bb
3 : aaa
13 : bbb
4 : aaaa
14 : bbbb
5 : aaaaa
15 : bbbbb
6 : aaaaaa
16 : bbbbbb
7 : aaaaaaa
17 : bbbbbbb
8 : aaaaaaaa
18 : bbbbbbbb
9 : aaaaaaaaa
19 : bbbbbbbbb
10 : aaaaaaaaaa
20 : bbbbbbbbbb

In [80]:
claves_ordenadas=sorted(diccionario)
for c in claves_ordenadas:
    print(c,":", end= " ")
    print(diccionario[c])
diccionario2={}
for c in sorted(diccionario)[c]
print (diccionario2)

SyntaxError: invalid syntax (<ipython-input-80-5f2032b6b84f>, line 6)

In [82]:
sorted (diccionario.values())

['a',
 'aa',
 'aaa',
 'aaaa',
 'aaaaa',
 'aaaaaa',
 'aaaaaaa',
 'aaaaaaaa',
 'aaaaaaaaa',
 'aaaaaaaaaa',
 'b',
 'bb',
 'bbb',
 'bbbb',
 'bbbbb',
 'bbbbbb',
 'bbbbbbb',
 'bbbbbbbb',
 'bbbbbbbbb',
 'bbbbbbbbbb']

In [85]:
diccionario_ciudades=["28040":"Madrid","00080","Barcelona":"28002":"Madrid"]
print(sorted(diccionario_ciudades))
print(sorted(diccionario_ciudades.value()))

SyntaxError: invalid syntax (<ipython-input-85-b111715a173a>, line 1)